{% extends 'base_layout.html' %}
{% block content %}
  <div class="add-option">
  <div class="form-class">
    <h2>Add a medicine</h2>
    <form class="site-form" action="{% url 'medicine' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
    <div class="input-field">
    <label for="name">Name</label>
    {{form.name}}
    </div>
    <div class="input-field">
    <label for="price">Price</label>
    {{form.price}}
    </div>
    <input id="add" type="submit" value="ADD">
    </form>
   </div>
  </div>
{% endblock %}
