{% extends 'base_layout.html' %}
 {% block content %}
<div class="report-class">
<form class="report">
  <div class="input-1">
    <label for="medi-name">Name</label>
    <input type="text" name="med-name-1" value="">
    <input type="number" name="med-qty-1" value="">
    <input id="1" onclick="addItem(1)" type="button" name="" value="Add">

    <!-- <button id="1" type="button" name="button" onclick="addItem(1)">Add</button> -->
  </div>

  <div class="input-2">
    <label for="medi-name">Name</label>
    <input type="text" name="med-name-2" value="">
    <input type="number" name="med-qty-2" value="">
    <input id="2" onclick="addItem(2)" type="button" name="" value="Add">
    <!-- <button id="2" type="button" name="button" onclick="addItem(2)">Add</button> -->
  </div>

  <div class="input-3">
    <label for="medi-name">Name</label>
    <input type="text" name="med-name-3" value="">
    <input type="number" name="med-qty-3" value="">
    <input id="3" onclick="addItem(3)" type="button" name="" value="Add">

    <!-- <button id="3" type="button" name="button" onclick="addItem(3)">Add</button> -->
  </div>

  <div class="input-4">
    <label for="medi-name">Name</label>
    <input type="text" name="med-name-4" value="">
    <input type="number" name="med-qty-4" value="">
    <input id="4" onclick="addItem(4)" type="button" name="" value="Add">

    <!-- <button id="4" type="button" name="button" onclick="addItem(4)">Add</button> -->
  </div>

  <div class="input-5">
    <label for="medi-name">Name</label>
    <input type="text" name="med-name-5" value="">
    <input type="number" name="med-qty-5" value="">
    <input id="5" onclick="addItem(5)" type="button" name="" value="Add">

    <!-- <button id="5" type="button" name="button" onclick="addItem(5)">Add</button> -->
  </div>

  <div class="input-6">
    <label for="medi-name">Name</label>
    <input type="text" name="med-name-6" value="">
    <input type="number" name="med-qty-6" value="">
    <input id="6" onclick="addItem(6)" type="button" name="" value="Add">

    <!-- <button id="6" type="submit" name="button" onclick="addItem(6)">Add</button> -->
  </div>

</form>
</div>
{% endblock %}
