{% extends 'base_layout.html' %}
{% block content %}

<div class="quote" style="width:60%;text-align:center;margin-left:20%;margin-right:auto;height:400px;">
  <h2 style="margin-top:300px;text-align:center;text-transform:uppercase;font-family: 'Roboto', sans-serif;">"Combining the best specialists and equipment to provide you nothing short of the best in healthcare"</h2>

</div>
<div class="container">
  <div class="panels">
    <div class="panel panel1">
      <p></p>
      <p><a href="./add/doctor/">Add Doctor</a></p>
      <p></p>
    </div>
    <div class="panel panel2">
      <p></p>
      <p><a href="./add/medicine/">Add Medicine</a></p>
      <p></p>
    </div>
    <div class="panel panel3">
      <p></p>
      <p><a href="./add/patient">Add Patient</a></p>
      <p></p>
    </div>
  </div>
  <div class="info">
    <div class="info-1 lorem">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce efficitur odio et ultricies posuere. Ut tristique neque eget nulla volutpat, quis rutrum leo accumsan.</p>
      <p> Fusce malesuada congue neque vitae volutpat. Praesent ut dictum dolor, eget porttitor turpis. Duis at diam ut nulla tristique fringilla vitae sit amet diam. Morbi lacinia tortor interdum efficitur molestie. Nam facilisis euismod feugiat. Donec pulvinar turpis urna, ac posuere leo placerat eget. Pellentesque varius maximus varius. Etiam sed vulputate tellus. Curabitur ac neque consectetur, pretium ligula ut, aliquam purus. Fusce luctus rutrum lectus, eget consectetur elit fringilla sed. Nam tincidunt, nibh eu luctus mattis, orci neque suscipit arcu, eu dictum est mauris vitae risus.
      </p>
    </div>
    <div class="info-2 lorem">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce efficitur odio et ultricies posuere. Ut tristique neque eget nulla volutpat, quis rutrum leo accumsan.
    </p>
      <p>Fusce malesuada congue neque vitae volutpat. Praesent ut dictum dolor, eget porttitor turpis. Duis at diam ut nulla tristique fringilla vitae sit amet diam. Morbi lacinia tortor interdum efficitur molestie. Nam facilisis euismod feugiat. Donec pulvinar turpis urna, ac posuere leo placerat eget. Pellentesque varius maximus varius. Etiam sed vulputate tellus. Curabitur ac neque consectetur, pretium ligula ut, aliquam purus. Fusce luctus rutrum lectus, eget consectetur elit fringilla sed. Nam tincidunt, nibh eu luctus mattis, orci neque suscipit arcu, eu dictum est mauris vitae risus.
    </p>
    </div>

  </div>
</div>
{% endblock %}
